.vels table {
    padding-left: 0;
    padding-right: 10px;
    font-size: 80%;
}

header .amount { 
    color: #fff;
}

.vels .datatype {
    padding-left: 10px;
}

.vels .datalow {
    padding-left: 10px;
    color: greenyellow;
}
.vels .datamedium {
    padding-left: 10px;
    color: orange;
}
.vels .datahigh {
    padding-left: 10px;
    color: red;
}
.vels .datatotal {
    color: whitesmoke;
}

.sparklinehigh {
    stroke: red;
    fill: rgba(255, 0, 0, .3);
}
.sparklinemedium {
    stroke: orange;
    fill: rgba(255, 255, 0, 0.3);
}
.sparklinelow {
    stroke: greenyellow;
    fill: rgba(200, 255, 0, 0.3);
    }
  