.vels .datatype {
    padding-left: 10px;
}

.vels .datalow {
    padding-left: 10px;
    color: greenyellow;
}
.vels .datamedium {
    padding-left: 10px;
    color: orange;
}
.vels .datahigh {
    padding-left: 10px;
    color: red;
}
.vels .datatotal {
    color: whitesmoke;
}
.vels .datanone {
    color: whitesmoke;
    font-size: small;
}

.vels #sparkline {
    stroke: url(#velsgrad);
    fill: none;
}

.vels p {
    margin: 0
}